# Временные файлы и артефакты сборки
*.log
*.out
*.test
bin/
build/

# IDE и Git
.idea/
.vscode/
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml

# Документация и конфигурация разработки
README.md
.env.example